body {
  border-radis: 0 !important;
}

button {
  border-radius: 0 !important;
}

div {
  border-radius: 0 !important;
}

form {
  border-radius: 0 !important;
}

summary {
	border-radius: 0 !important;
}

ul {
	border-radius: 0 !important;
}

a {
  border-radius: 0 !important;
}
